<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <title>学历证书查询</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link href='/static/css/app.css' rel="stylesheet" type="text/css"/>
    <link href="/static/css/index.css" rel="stylesheet">
    <!-- Bootstrap3.3.5 CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="white-block flex-auto">
        <div class="container flex">
            <div class="r-main">
                <div class="b-head">
                    <h4 class="main_title">基于区块链的学历证书可信认证系统&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong style="font-size:14px;"><a style="color:#337ab7" href="/loginout">退出</a></strong></h4>
                </div>
                <hr style="border-color:#00BAC7">
                <p style="font-size:22px;margin-top:60px;margin-bottom:-15px">学历证书查询</p>
                <div class="b-body lscx-entry">
                    <div class="m_f_div">
                        <div class="brcx-icon"></div>
                        <h3>本人查询</h3>
                        <div class="description">
                            <p>
                                输入本人身份证号进行查询
                            </p>
                        </div>
                        <div class="m_f_div_btn"><a href="/queryPage2" class="btn_blue">查询</a></div>
                    </div>
                    <div class="m_f_div">
                        <div class="lscx-icon"></div>
                        <h3>零散查询</h3>
                        <div class="description">
                            <p>输入证书编号及姓名进行查询</p>
                        </div>
                        <div class="m_f_div_btn"><a href="/queryPage" class="btn_blue">查询</a> </div>
                    </div>
                    {{if eq .CurrentUser.IsAdmin "T"}}
                    <div class="m_f_div">
                        <div class="qyecx-icon"></div>
                        <h3>管理中心</h3>
                        <div class="description">
                            <p>
                            添加学历信息
                            </p>
                        </div>
                        <div class="m_f_div_btn"><a href="/help" class="btn_blue">进入</a></div>
                    </div>
                    {{end}}
                    {{if eq .CurrentUser.IsAdmin "F"}}
                    <div class="m_f_div">
                        <div class="qyecx-icon"></div>
                        <h3>帮助中心</h3>
                        <div class="description">
                            <p>
                            查看学历查询范围
                            </p>
                        </div>
                        <div class="m_f_div_btn"><a href="/help" class="btn_blue">进入</a></div>
                    </div>
                    {{end}}
                </div>
            </div>
    </div>
    </div>
    <!-- jQuery1.11.3 (necessary for Bootstrap's JavaScript plugins) -->
<script src="/static/js/jquery.min.js "></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/static/js/bootstrap.min.js "></script>
<script type="text/javascript">
    $(function() {
      // index
    })
  </script>
</body>
</html>